# Copyright (c) 2025
# SPDX-License-Identifier: MIT

if SHIELD_CLEAVE_HHJP_LEFT

config ZMK_KEYBOARD_NAME
	default "Cleave HHJP"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CLEAVE_HHJP_LEFT || SHIELD_CLEAVE_HHJP_RIGHT

config ZMK_SPLIT
	default y

endif
