# Copyright (c) 2025
# SPDX-License-Identifier: MIT

if SHIELD_CLEAVE_HHJP_LEFT

config ZMK_KEYBOARD_NAME
	default "CLEAVE HHJP"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	default 1

config BT_MAX_CONN
	default 5

endif

if SHIELD_CLEAVE_HHJP_LEFT || SHIELD_CLEAVE_HHJP_RIGHT

config ZMK_SPLIT
	default y

endif
